.detailTable{
    width: 554px;
    height: 162px;
    position: absolute;
    left: 115px;
    top: 3px;
    z-index: 2;
}

    .detailTitleContainer{
        width: 100%;
        height: 50px;
        background: rgb(229, 229, 229);
    }
    .detailInfoContainer{
        width: 100%;
        height: 106px;
        margin-top: 6px;
        background: white;
    }