.filter-card{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    text-align: left;
}

.filter-card .btn{
    margin: 4px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}



.col-temperature-first{
    width: 250px;
}