.element{
    width: 50px;
    height: 50px;
    margin: 3px;
    float: left;
    position: relative;
    border-radius: 5px;
    box-shadow: inset 1px 1px rgba(255,255,255,.2),inset -1px -1px rgba(255,255,255,.1),1px 3px 24px -1px rgba(0,0,0,.15);
}
    .element:hover{
        scale: 1.3;
        z-index: 3;
        box-shadow: 3px 3px rgba(255,255,255,.2), -3px -3px rgba(255,255,255,.1),1px 3px 24px -1px rgba(0,0,0,.15);
    }

    .element .symbol{
        font-size: 25px;
        line-height: 1.4;
    }

    .atomic-number{
        background: rgba(0, 0, 0, 0.205);
        position: absolute;
        width: 50px;
        padding: 0px;
        height: 18px;
        bottom: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
        .atomic-number div{
            font-size: 12px;
            line-height: 1;
            margin-top: 4px;
        }