@font-face { 
  font-family: 'Ubuntu-Regular';
  src: url('./assets/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: 'Ubuntu-Bold';
  src: url('./assets/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Ubuntu-Regular';
}