.table{
    width: 1008px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
/*The first table is the big table*/
.table:first-of-type{
    height: 394px;
    margin-bottom: 20px;
}

@media(max-width: 1008px){
    .tableContainer{
        max-width: 100% !important;
        height: 545px;
        white-space: nowrap;
        overflow: auto;
    }
}
